* {
    margin: 0;
    padding: 0;
    border: 0;
}

::selection {
    background-color: #3390ff;
    color: #fff;
    border-radius: 10px;
}

body {
    width: 100vw;
    height: 100vh;
}

body::-webkit-scrollbar {
    display: none;
}

.app-body {
    transition: 0.5s ease-in-out;
}

.background-img {
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 0;
    z-index: -1;
}
